body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-right-9 {
  padding-right: 9px;
}

.mr-auto {
  margin-left: auto;
}

.test-color {
  color: pink;
}

.test-color-1 {
  color: #fff;
}

.test-color-2 {
  color: green;
}

.test-color-3 {
  color: blue;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #CF1F14 !important;
}

.PrivateTabIndicator-colorPrimary-11 {
  background-color: #CF1F14 !important;
}

.PrivateTabIndicator-colorPrimary-6 {
  background-color: #CF1F14 !important;
}

.MuiTabs-flexContainer {
  flex-wrap: wrap;
}

.flex-columns {
  display: flex;
  flex-direction: row;
}

.margin-5 {
  margin: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
}

.line-height-normal {
  line-height: normal;
}

.MUIRichTextEditor-placeHolder-21 {
  position: inherit !important;
  padding-top: 15px !important;
  font-size: 14px;
}

.MUIRichTextEditor-editorContainer-17 {
  border: 1px solid #C7C7C7;
  min-height: 130px;
  padding-top: 20px !important;
}

.MuiButton-containedPrimary {
  color: black !important;
  background-color: #E5E5E5 !important;
  font-weight: 700 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-transform: none !important;
  width: 100%;
}

.MuiAccordionSummary-content {
  align-items: center;
}

.flex-content-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sc-dQoVA {
  padding-right: 15px;
  margin-bottom: 15px;
}
