body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-right-9 {
  padding-right: 9px;
}

.mr-auto {
  margin-left: auto;
}

.test-color {
  color: pink;
}

.test-color-1 {
  color: #fff;
}

.test-color-2 {
  color: green;
}

.test-color-3 {
  color: blue;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #CF1F14 !important;
}

.PrivateTabIndicator-colorPrimary-11 {
  background-color: #CF1F14 !important;
}
.PrivateTabIndicator-colorPrimary-6 {
  background-color: #CF1F14!important;
}

.MuiTabs-flexContainer {
  flex-wrap:wrap;
}

.flex-columns {
  display: flex;
  flex-direction: row;
}

.margin-5 {
  margin: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
}

.line-height-normal{
  line-height: normal;
}
